<!DOCTYPE ejs>
<html>
<head>
<meta charset="utf-8">
<title>Guestbook</title>
<meta charset="utf-8"><meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/gbapps.css">
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body id="body1">
<header>
   
 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#">Sandeep</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li ><a href="http://127.0.0.1:8081/index.html">Home</a></li>
        <li><a href="http://127.0.0.1:8081/BMI.html">Calulate BMI</a></li> 
        <li><a href="http://127.0.0.1:8081/Contact.html">Contact Us</a></li> 
        <li class="active"><a href="http://127.0.0.1:8081/index">guestbook</a></li>
      </ul>
    </div>
  </div>
</nav>
</header>
<br><br><br><br>
<h1>
Sandeep's Guestbook
<a href="http://127.0.0.1:8081/new-entry" class="btn btn-info pull-right">
Write in the guestbook
</a>
</h1>